.container {
  border: 1px dashed transparent;
  position: relative;
}

.selected {
  composes: container;
  border-color: rgba(255, 255, 255, 0.5);
}

.knob {
  width: 12px;
  height: 12px;
  background: #aca682;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translate(50%, -50%);
}
